@import "./_font-faces";

* {
  font-family: Scada;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}


.main {
  padding: 24px 0;

  @include tablet{
   padding:24px;  
  }
  
  .main-title{
    @include font(24,24,bold);
  }
}
