$tablet-width: 1140px;
$mobile-width: 768px;
$mobile-320px:320px;
$mobile-heigth:480px;

//____________ Header ____________//
$header_grey_line: rgba(0, 0, 0, 0.3);
$header_hover_item: rgba(0, 0, 0, 0.5);
$header_active_item: rgba(0, 0, 0, 0.9);

$cross_menu_color: rgba(0, 0, 0, 1);
$cross_menu_size: 32px;
$cross_menu_thickness: 2px;
$menu_background: rgba(255, 255, 255, 1);

$header_language_btn_shadow:rgba(1,1,1,.3);
//------------!!! Architecture Page---------- //
$arch_section_line: rgba(0, 0, 0, 0.3); //полоса
//время и зум картинок
$img_scale_time: 700ms;
$img_scale_zoom: 1.3;

//размеры иконок картинок
$img_size_desctop: 240px;
$img_size_mob: 375px;

//------------!!! Project Page---------- //
//Страница с проектом
$arch_content_height: 5000px; //max height text content
$arch_height_time: 2500ms; //время разворота
$arch_btn_color: rgba(255, 255, 255, 1);
$arch_btn_bg: rgba(0, 0, 0, 1);
//колво строк (размер текста*количество строк)
$visible_column:84px;

//Слайдер
$arch_slider_size: 672px;
$arch_slider_size-mob: 375px;
$arch_slider_arrow_color: rgba(0, 0, 0, 1);

$arch_slider_arrow_thickness: 2px; //толщина стрелок


// -------------- Texts Page -----------//
$texts_item_shadow:rgba(0, 0, 0, .3);