$tablet-width: 1140px;
$mobile-width: 768px;

$header_grey_line: rgba(0, 0, 0, 0.3);
$header_hover_item: rgba(0, 0, 0, 0.5);
$header_active_item: rgba(0, 0, 0, 0.9);

$cross_menu_color: rgba(0, 0, 0, 1);
$cross_menu_size: 32px;
$cross_menu_thickness: 2px;
$menu_background:rgba(255,255,255,1);
