.architecture{
  .arch__block{
    display: flex;
    flex-direction: column;
    &-title{
      align-self: flex-end;
      justify-self: flex-end;
      @include font(16,20)
    }

    &-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 24px;
      box-shadow: 0px -1px 0px 0px $arch_section_line;
    }

    &-item{
      display: flex;
      flex-direction: column;

      img{
        transition: transform $img_scale_time ease-out;
      }
      .item-img {
        overflow: hidden;
      }
      .item-img:hover img{
        transform: scale($img_scale_zoom);
      }

      .item-title{
        margin-top: 10px;
        @include font(16,20,bold);
      }
      .item-desc{
        @include font(14,14)
      }
    }
  }
}

.arch__project{
  &-title{
    @include font(16,20,bold)
  }
  &-article{
    margin-top: 24px;
    max-width: 640px;
    @include font(16,16);
   
    max-height: $visible_column;
    overflow: hidden;
    text-align: justify;
    transition: max-height 1700ms ease;

    &-active{
      max-height:$content_height;
    }
  }

  &-btn{
    margin-top: 10px;
    padding: 3px;
    background: $arch_btn_bg;
    color:$arch_btn_color;
    transition: transform 700ms ease, opacity 350ms ease-in;

    &-disable{
      transform: scaleY(0);
      opacity: 0;
    }
  }
}