.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;

  @include tablet {
    padding: 0 24px;
  }

  &-title {
    @include font(24, 24);
    text-transform: uppercase;
    position: relative;

    span {
      @include font(18, 24);
      font-family: MinionPro;
      letter-spacing: 0.1em;
      text-transform: lowercase;
      display: block;
      position: absolute;
      right: -16px;
    }
  }
}

.nav {
  min-width: 50%;

  @include mobile {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    background-color: $menu_background;
    position: absolute;
    top: 121px;
    left: 0;
    right: 0;
    height: 100vh;
    //up
    transition: opacity 300ms ease-in, visibility 900ms ease-in;
  }

  &-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0 16px;

    @include mobile {
      flex-direction: column;

      :nth-child(1) {
        animation: menuup 300ms ease-in-out both;
      }
      :nth-child(2) {
        animation: menuup 500ms ease-in-out;
      }
      :nth-child(3) {
        animation: menuup 700ms ease-in-out;
      }
    }
  }

  &-item {
    min-height: 120px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    transition: box-shadow 0.5s ease;

    @include mobile {
    }

    a {
      @include font(16, 20, bold);
      color: inherit;
      text-transform: lowercase;
    }

    @include mobile-height {
      min-height: 60px;
    }

    &-active {
      box-shadow: 0px 1px 0px 0px $header_active_item;

      @include mobile {
        box-shadow: none;
      }
    }
  }

  &-item:hover {
    border-radius: 0.5px;
    box-shadow: 0px 1px 0px 0px $header_hover_item;

    @include mobile {
      border-radius: none;
      box-shadow: none;
    }
  }
}

.nav_active {
  @include mobile {
    opacity: 1;
    visibility: visible;
    //down

    .nav-list {
      :nth-child(1) {
        animation: menudown 500ms ease-in-out;
      }
      :nth-child(2) {
        animation: menudown 700ms ease-in-out;
      }
      :nth-child(3) {
        animation: menudown 900ms ease-in-out;
      }
    }
  }
}

.nav_icon {
  display: none;

  @include mobile {
    z-index: 2;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: $cross_menu_size;
    height: $cross_menu_size;

    span {
      position: absolute;
      display: block;
      width: $cross_menu_size;
      height: $cross_menu_thickness;
      background: $cross_menu_color;
      border-radius: 5px;
      transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    :first-child {
      top: 0;
    }
    :nth-child(2) {
      top: $cross_menu_size/2;
    }
    :last-child {
      top: $cross_menu_size;
    }
  }
}

.nav_icon_active :first-child {
  transform: rotate(45deg);
  top: 16px;
}

.nav_icon_active :nth-child(2) {
  opacity: 0;
}

.nav_icon_active :last-child {
  transform: rotate(-45deg);
  top: 16px;
}

.header-lang-change {
  display: flex;
  @include font(16, 20);

  .lang-change-btn {
    text-transform: uppercase;
    background: none;
  }

  .slash-between {
    margin: 0 0.3rem;
  }

  @include mobile {
    @include font(16, 16);
    padding-top: 16px;
  }
}

.header-bottom-border {
  box-shadow: 0px 1px 0px 0px $header_grey_line;
}

a:active,
a:visited {
  color: inherit;
}

@keyframes menudown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes menuup {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
