.text-section{
 padding: 24px 100px;

 @include mobile{
   padding: 24px 0;
 }

 &__list{
   li{
     margin-bottom: 50px;
     @include font(20,24);
     transition: text-shadow 300ms ease-out;

     @include mobile{
       @include font(16,18);
     }
     
   }
   li:hover{
    text-shadow: 0 0 1px $texts_item_shadow;
    
   }
 }
}

.text-section article{
  font-size: 16px;

  .article-title{
    font-weight: 700;
  }

  .paragraph{
    text-indent: 16px;
    text-align: justify;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .mt{
    margin-top: 16px;
  }
  .mb{
    margin-bottom: 16px;
  }

  .list-with-dash li{
    margin-left: 16px;
  }

  .list-with-dash li::before{
    content: '- ';
  }
  .rs{
    text-align: right;
  }

  .cs{
    text-align: center;
  }
}