.text-section{
 padding: 24px 100px;
 

 &__list{
   li{
     margin-bottom: 50px;
     @include font(20,24);
     transition: text-shadow 300ms ease-out;
     
   }
   li:hover{
    text-shadow: 0 0 1px $texts_item_shadow;
    
   }
 }
}